[Unit]
Description=Keep gensyn screen session running
After=network-online.target

[Service]
Type=simple
User=root
Environment=HOME=/root
Environment=USER=root
Environment=LOGNAME=root
Environment=SHELL=/bin/bash
Environment=TERM=xterm-256color
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

ExecStart=/usr/local/bin/gensyn-screen-launcher.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
